{% extends 'base.html' %}
{% load static %}

{% block title %}Meetups{% endblock %} 

{% block site_css %}
    <link rel="stylesheet" href="{% static 'challenges/styles/all-meetups.css' %}">
{% endblock %} 


    <!-- {% if showMeetup %}
        {% for meetup in meetups %}
            <h2>{{ meetup.title }}</h2>
        {% endfor %}
    {% else %}
        <h2>No Data Found</h2>
    {% endif %} -->

{% block header_content %}
    <h1>We got great meetup coming up</h1>
{% endblock %}

{% block body %}
    <section>
        <h2>Upcoming Meetups</h2>
        <ol>
            {% for meetup in meetups %}
                {% include 'challenges/component/meet_up_loop.html' with title=meetup.title slug=meetup.slug image=meetup.images.url location='Istanbul' %}
            {% endfor %}
        </ol>
    </section>
{% endblock %}  